/*Resize screen*/
html, body {
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    overflow-x: hidden;
}
/*Navigation bar*/
.navbar {
    background-color: rgba(93, 75, 75, 0.6);
    display:flex;
    position: sticky;
    justify-content: space-evenly;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding:10px;
}
.navbar ul {
    list-style: none;
    display:flex;
    width: 100%;
    justify-content: space-evenly;
}
.navbar li {
    margin: 15px;
}
.navbar a {
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    transition: color 0.3s ease;
}
/* Add hover effect color */
.navbar a:hover {
    color: #d29f31; 
}
/*Company Name Font*/
.bungee-spice-regular {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/*Logo positioning*/
.logo {
    display:flex;
    position:relative;
    left: 500px;
}
/*Company Name design*/
#company_name {
    color: white;
    position: relative;
    top:10px;
    font-family: "Bungee Spice";
}
/*overlay container*/
.overlay_container {
    position: relative;
    height: 800px;
    width: 1520px;
}

/* Overlay button */
.overlay_button {
    position: absolute;
    bottom: 20px; 
    left: 20px; 
    padding: 20px 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    height: auto;
    width: auto;
}
/* Change background on hover */
.overlay_button:hover {
    background-color: rgba(255, 165, 0, 0.8); 
}
.game_desc {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.intro_container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px;
}
.intro_title {
    font-size: 40px;
    color: goldenrod;
    font-weight: bold;
    margin: 0;
}
.intro_para {
    font-size: 24px;
    color: whitesmoke;
    margin: 0;
    text-align: center;
}
.home_clip_container {
    width: 100%; 
    height: 100%;
    max-width: 600px;
    max-height: 750px;
    margin: 20px auto; /* Center the video */
    overflow: hidden;
    
}
video {
    position:relative;
    width: 100%; /* Ensure the video scales with the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Optional: shadow for aesthetics */
}
.home_merch {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: darkolivegreen;
}
.merch_title {
    font-size: 40px;
    font-weight: bold;
    color: goldenrod;
    margin: 0;
    text-decoration: none;
    text-align: center;
    transition: color 0.3s ease;
}
.home_merch img {
    width: 300px; 
    height: 250px; 
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s; 
}
.home_merch img:hover {
    transform: scale(1.1); /* Slight zoom on hover */
}
.company_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.info_title, .info {
    margin: 0;
    padding: 10px 0;
}
.info_title {
    color: #d29f31;
    font-size: 36px;
    font-weight: bold;
}
.info {
    color:aliceblue
}
.context {
    text-align: center;
    background-color: antiquewhite;
    font-size: 20px;
    font-weight: bold;
}
.alpha_link {
    position: relative;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    left: 32%;
    padding: 20px 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    height: auto;
    width: auto;
}
/* Change background on hover */
.alpha_link:hover {
    background-color: lightblue; 
}
.alpha_call {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.call_title, .call_para, .call_list {
    margin: 0;
    padding: 10px 0;
}
.call_title {
    color: #d29f31;
    font-size: 36px;
    font-weight: bold;
}
.call_para {
    font-size: 24px;
    color:aliceblue
}
.call_list {
    font-size: 36px;
    color:red
}