html, body {
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    overflow-x: hidden;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.6);
    display:flex;
    position: sticky;
    justify-content: space-evenly;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding:10px;
}
.navbar ul {
    list-style: none;
    display:flex;
    width: 100%;
    justify-content: space-evenly;
}
.navbar li {
    margin: 15px;
}
.navbar a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
}
/* Add hover effect color */
.navbar a:hover {
    color: #d29f31; 
}
.bungee-spice-regular {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.logo {
    display:flex;
    position:relative;
    left: 500px;
}
#company_name {
    color: white;
    position: relative;
    top:10px;
    font-family: "Bungee Spice";
}
