.bokor-regular {
    font-family: "Bokor", system-ui;
    font-weight: 400;
    font-style: normal;
}
  
.image_container {
    position: relative;
    display: inline-block;
}

.overlay_text {
    position: absolute;
    top: 65%; 
    left: 30%; 
    transform: translate(-50%, -50%);  
    color: goldenrod; 
    padding: 5px 10px; 
    font-size: 40px; 
    text-align: center;
}